In [ ]:
import pandas as pd
df = pd.read_csv("HeartDiseases.csv")
df

                    ID   age  sex  cp  restbps  ...  oldpeak  slope  ca thal  outcome
0    hdoamedhe7le8psut  63.0    1   1      145  ...      2.3      3   0    6        0
1    hdoamedhodc3upsut  67.0    1   4      160  ...      1.5      2   3    3        2
2    hdoamedds1byapsut  67.0    1   4      120  ...      2.6      2   2    7        1
3    hdoamed03ldb7psut  37.0    1   3      130  ...      3.5      3   0    3        0
4    hdoamedkixctypsut  41.0    0   2      130  ...      1.4      1   0    3        0
..                 ...   ...  ...  ..      ...  ...      ...    ...  ..  ...      ...
305  hdoamed4f8a4lpsut  57.0    1   2      124  ...      0.3      1   0    7        1
306  hdoamed5qpd5jpsut  44.0    0   3      118  ...      0.3      2   1    3        0
307  hdoamedimjs34psut  51.0    1   3      100  ...      1.2      2   0    3        0
308  hdoamedjkq7uepsut  55.0    1   4      140  ...      5.6      3   0    7        3
309  hdoamedkqqptipsut  43.0    1   3      130  ...      1.9      1   1    3        0

[310 rows x 15 columns]

In [ ]:
df.describe

<bound method NDFrame.describe of                     ID   age  sex  cp  restbps  ...  oldpeak  slope  ca thal  outcome
0    hdoamedhe7le8psut  63.0    1   1      145  ...      2.3      3   0    6        0
1    hdoamedhodc3upsut  67.0    1   4      160  ...      1.5      2   3    3        2
2    hdoamedds1byapsut  67.0    1   4      120  ...      2.6      2   2    7        1
3    hdoamed03ldb7psut  37.0    1   3      130  ...      3.5      3   0    3        0
4    hdoamedkixctypsut  41.0    0   2      130  ...      1.4      1   0    3        0
..                 ...   ...  ...  ..      ...  ...      ...    ...  ..  ...      ...
305  hdoamed4f8a4lpsut  57.0    1   2      124  ...      0.3      1   0    7        1
306  hdoamed5qpd5jpsut  44.0    0   3      118  ...      0.3      2   1    3        0
307  hdoamedimjs34psut  51.0    1   3      100  ...      1.2      2   0    3        0
308  hdoamedjkq7uepsut  55.0    1   4      140  ...      5.6      3   0    7        3
309  hdoamedkqqptipsut  43.0    1   3      130  ...      1.9      1   1    3        0

[310 rows x 15 columns]>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       310 non-null    object
 1   age      310 non-null    float64
 2   sex      310 non-null    int64
 3   cp       310 non-null    int64
 4   restbps  310 non-null    int64
 5   chol     310 non-null    int64
 6   fbs      310 non-null    int64
 7   restecg  310 non-null    int64
 8   thalack  310 non-null    object
 9   exang    310 non-null    int64
 10  oldpeak  310 non-null    float64
 11  slope    310 non-null    int64
 12  ca       310 non-null    object
 13  thal     310 non-null    object
 14  outcome  310 non-null    int64
dtypes: float64(2), int64(9), object(4)
memory usage: 36.5+ KB

In [ ]:
print(df.dtypes)

#the things that are objects are mostly typos in the input

ID          object
age        float64
sex          int64
cp           int64
restbps      int64
chol         int64
fbs          int64
restecg      int64
thalack     object
exang        int64
oldpeak    float64
slope        int64
ca          object
thal        object
outcome      int64
dtype: object

In [ ]:
nan_values = df.isna()
nan_columns = nan_values.any()

columns_with_nan = df.columns[nan_columns].tolist()
print(columns_with_nan)

[]

In [ ]:
df.shape

(310, 15)

In [ ]:
vlist = df[df.duplicated(['ID'], keep=False)]
print(vlist)
print(len(vlist))

                    ID   age  sex  cp  restbps  ...  oldpeak  slope  ca thal  outcome
97   hdoamedt0eof5psut  60.0    0   4      150  ...      2.6      2   2    7        3
122  hdoamedimjs34psut  51.0    1   3      100  ...      1.2      2   0    3        0
123  hdoamedjkq7uepsut  55.0    1   4      140  ...      5.6      3   0    7        3
177  hdoamed5iw95ypsut  56.0    1   4      132  ...      2.1      2   1    6        1
178  hdoamedkqqptipsut  43.0    1   3      130  ...      1.9      1   1    3        0
259  hdoamed4f8a4lpsut  57.0    1   2      124  ...      0.3      1   0    7        1
260  hdoamed5qpd5jpsut  44.0    0   3      118  ...      0.3      2   1    3        0
303  hdoamedt0eof5psut  60.0    0   4      150  ...      2.6      2   2    7        3
304  hdoamed5iw95ypsut  56.0    1   4      132  ...      2.1      2   1    6        1
305  hdoamed4f8a4lpsut  57.0    1   2      124  ...      0.3      1   0    7        1
306  hdoamed5qpd5jpsut  44.0    0   3      118  ...      0.3      2   1    3        0
307  hdoamedimjs34psut  51.0    1   3      100  ...      1.2      2   0    3        0
308  hdoamedjkq7uepsut  55.0    1   4      140  ...      5.6      3   0    7        3
309  hdoamedkqqptipsut  43.0    1   3      130  ...      1.9      1   1    3        0

[14 rows x 15 columns]
14

In [ ]:
df.shape

(310, 15)

In [ ]:
df['sex'].unique()

array([1, 0])

In [ ]:
unique_values = set()
for col in df:
    unique_values.update(df[col])

print(unique_values)

{'hdoamedxxgluepsut', 1, 0, 3, 4, 5.7, 2, '126', '95', 2.3, 1.5, 3.5, '125', 0.5, 2.5, 6.2, 29.0, 34.0, 35.0, 37.0, 38.0, 39.0, 40.0, 'hdoamedgbom2hpsut', 'hdoameda9d2x2psut', 'hdoamedcvu5y0psut', 'hdoamedwiybjbpsut', 41.0, 44.0, 43.0, 48.0, 49.0, 'hdoamed3wiffepsut', 50.0, 52.0, 'hdoamedr6pt29psut', 53.0, 54.0, 'hdoamedjcmthhpsut', 56.0, 57.0, 58.0, 60.0, 'hdoamedupe13hpsut', 62.0, 63.0, 64.0, 59.0, 66.0, 'hdoamedoe9ez8psut', 67.0, 69.0, 61.0, 65.0, 71.0, 68.0, 70.0, 74.0, 76.0, 77.0, '150', 'hdoamedeybxeqpsut', 'hdoamedsl6342psut', 94, 100, 101, 'hdoamedfony13psut', 102, 104, 105, 106, 108, '114', 110, 112, 'hdoamed5qpd5jpsut', 114, 115, 'hdoamedh727sbpsut', 117, 118, 120, 122, 123, 124, 125, 'hdoamed8a4l5qpsut', 126, 128, 129, 130, 131, 'hdoamedn6w7acpsut', 132, 134, 'hdoamedlnhy94psut', 135, 'hdoamedycwz96psut', 'hdoamed95igvkpsut', 138, 140, 136, 142, 141, 'hdoamedll4aj2psut', 145, 144, 146, 148, 149, 150, 152, '121', 154, 155, 156, 157, 'hdoamedxctyv3psut', 158, 160, 'hdoamede640dbpsut', 'hdoamedn9erxppsut', 165, 164, 167, 168, 166, 170, 169, 'hdoamedq7uepbpsut', 172, 174, 175, 176, 177, 178, '141', 180, '97', 182, 183, 'hdoamed4kg12ppsut', 185, 186, 184, 188, 'hdoamedtr7m37psut', 187, 192, 193, 195, 196, 197, 'hdoamed295p0dpsut', 199, 200, 198, 'hdoamedkixctypsut', 203, 204, 201, 206, 'hdoamedzrdaa9psut', 208, 209, 205, 'hdoamedau5iw9psut', 'hdoamed96u4llpsut', 42.0, 211, 212, 213, 216, 217, 219, 220, 221, 'hdoamedjat87rpsut', 222, 224, 225, 226, 45.0, 227, 229, 230, 231, 46.0, 233, 234, 232, 236, 47.0, 235, 239, 240, 237, 242, 243, 244, 245, 246, 247, 248, 249, 250, '2', 252, 253, 'hdoamedac6n7spsut', 254, 256, 51.0, 258, 'hdoamedbzf4bfpsut', 257, 255, 260, 263, 264, 'hdoameduv295ppsut', 266, 'hdoamedpk9wycpsut', 268, 269, 267, 270, 265, 273, 274, 275, 276, 'hdoamedgtzrdapsut', 55.0, 277, 271, 281, 282, 283, 284, 'hdoamedjuwytapsut', 'hdoamed58qhgbpsut', 'hdoamedai65xxpsut', 286, 288, 290, 289, '165', 293, 294, 295, '1,71', '192', 298, 299, 'hdoamed3uds1bpsut', 300, 302, 303, 'hdoamed2ybzf4psut', 305, 304, 307, 308, 309, 306, 'hdoamedssbhq9psut', 311, 313, '175', 315, 318, 'hdoamedg1ivcvpsut', 319, 321, 322, 325, 326, 327, '166', 330, 'hdoamedpbgtzrpsut', 'hdoamed7reqgjpsut', 335, 340, 341, 342, '71', '?', 353, 354, '163', 'hdoamedp1a20wpsut', '144', 'hdoamedamcfxfpsut', '152', 'hdoamedj2g1ivpsut', 'hdoamedroguohpsut', 0.3, '123', 'hdoamed5al44fpsut', 394, 'hdoamedd2x2n6psut', 'hdoameds3682jpsut', '147', '171', 407, 409, 5.6, 'hdoamedakz06dpsut', 'hdoamedcfxfnipsut', 417, '108', 'hdoamed2zzy1rpsut', 'hdoamedbpjcmtpsut', 'hdoamedst0g3npsut', 'hdoamed4f8a4lpsut', 'hdoamedbhq9n8psut', '130', 'hdoamed71ai65psut', 'hdoamedeqgj1jpsut', '180', '1,42', 'hdoamed8zhx6fpsut', 'hdoamedajjuwypsut', 'hdoamed94tgiwpsut', '139', 'hdoamed19lva2psut', 'hdoamed9ez87ipsut', 'hdoamedivcv2ypsut', 'hdoamedcdk0whpsut', '169', 'hdoamed8pl57tpsut', '122', 0.8, 1.3, 1.8, 'hdoamedoxofydpsut', 'hdoamedgj1jrnpsut', '111', 'hdoamediffeh7psut', 'hdoamed65xxglpsut', 'hdoamedr51tflpsut', 'hdoamedx5hr6xpsut', 564, 'hdoamedk0whi5psut', 'hdoamedrv42qzpsut', 'hdoamedy0ucwhpsut', 'hdoamedfeh727psut', '195', 'hdoamed426v05psut', 'hdoamed6ows42psut', 'hdoamedy2z7akpsut', 'hdoamedu5y0ucpsut', '136', 'hdoamedswt1ddpsut', 'hdoamed0xds94psut', 'hdoamede8xlm1psut', 'hdoameddlw7cdpsut', 'hdoamedw7cdk0psut', '109', 'hdoamedc6fnbapsut', '177', 'hdoamed86mbimpsut', 'hdoameduepbgtpsut', 'hdoamed06eybxpsut', 'hdoamed7bg9v1psut', 'hdoamedqhgbompsut', '188', 'hdoamedjkq7uepsut', 'hdoamed6x4kg1psut', 'hdoamedk80e71psut', '134', 'hdoamedrdu6e6psut', 'hdoamedt0eof5psut', 'hdoamedscd04ipsut', '161', 0.6, 'hdoamedq0f6dtpsut', '162', 'hdoameducwhg3psut', 'hdoamedylp381psut', 'hdoamedtidi3cpsut', 'hdoamedkox4jspsut', 'hdoamedmjbpjcpsut', 'hdoamedl6nzh0psut', '115', 'hdoamedw1cvu5psut', 'hdoamedpufonypsut', '103', 'hdoamedw95ykqpsut', 'hdoamedzy1rw1psut', 0.1, '157', '174', 'hdoamedbxeq8qpsut', 'hdoamedl57t7bpsut', 2.2, 3.2, '117', '96', 4.2, '133', '151', 'hdoameda28pl5psut', 'hdoamed6vbz7bpsut', 'hdoamed78fvscpsut', '138', 'hdoamedhx6f3fpsut', 'hdoamedrn0xdspsut', 'hdoamed0cegaspsut', 'hdoamed5iw95ypsut', 'hdoamed11ssbhpsut', 'hdoamed7ljcmtpsut', 'hdoamedcwjvlopsut', 'hdoamedb7kixcpsut', 'hdoamed36c5rxpsut', 'hdoamedvuyninpsut', 'hdoamednjkjmcpsut', 'hdoamed8qyu6vpsut', 'hdoamedrymmd3psut', 'hdoamed5fuv29psut', 'hdoamedmloe9epsut', 'hdoamedcnqrm3psut', 'hdoamedtakf4spsut', '99', '6', 'hdoamedom2hy2psut', '178', 'hdoamed3w6d11psut', 'hdoamedxpb887psut', 'hdoamedky3wifpsut', 'hdoamed7cxf5gpsut', 'hdoamedd04ingpsut', 'hdoamedx2n6w7psut', 'hdoamed6v05hzpsut', 'hdoamedwytakfpsut', 'hdoamediwgjt0psut', 'hdoamedkpajjupsut', 'hdoamed12kqzjpsut', '168', 'hdoamed0gkpajpsut', '173', 1.4, 2.6, 3.6, 3.1, 1.6, 2.4, 3.4, 2.9, 2.1, 1.9, 207, 'hdoamedxepk9wpsut', 'hdoamedflmloepsut', 'hdoamedqq9fo7psut', '156', 'hdoamedhr6x4kpsut', 'hdoamedjsjat8psut', 210, 'hdoamedds1byapsut', 'hdoamedm3e8xlpsut', 'hdoamed40dbqfpsut', 214, 'hdoamedhe7le8psut', 'hdoamed03ldb7psut', 215, 'hdoamed35zg0mpsut', '185', 'hdoamedv1214kpsut', 'hdoamedzg0mk8psut', 218, 'hdoamedle0675psut', 'hdoamed13xepkpsut', '149', 'hdoamedxw0gkppsut', 'hdoamedv35fuvpsut', 'hdoamedgluerdpsut', 'hdoamedg9v121psut', 'hdoamede8hodcpsut', 'hdoamedascxmjpsut', 'hdoamed6n7shepsut', 223, 'hdoamed7she7lpsut', 'hdoamedhio51mpsut', 'hdoamed9puzktpsut', 'hdoamed0dr51tpsut', '170', 228, '172', 'hdoamedxfnivtpsut', 'hdoameddaa9d2psut', 'hdoamedng2zzypsut', '129', 'hdoamed5zx5hrpsut', 'hdoamedqrm3e8psut', 'hdoamed3f58qhpsut', 'hdoamed1rw1cvpsut', 'hdoamed214kpupsut', 'hdoamed3ccnqrpsut', 241, 'hdoamedsb0cegpsut', 2.8, 'hdoamedeq8qyupsut', 3.8, '120', 'hdoamedw7ac6npsut', '154', 'hdoamedmbimjspsut', 'hdoamednovbyjpsut', 'hdoameda20w86psut', 0.4, 'hdoamedz06daupsut', 0.9, 'hdoamed63426vpsut', 'hdoamedimjs34psut', 'hdoamed1tflmlpsut', 'hdoamedwhi59mpsut', 'hdoamedtgky3wpsut', 259, '182', 261, 'hdoamed6f3f58psut', 'hdoamed8gs278psut', 262, 'hdoamed7le8hopsut', '184', 'hdoamed89novbpsut', 'hdoamedtyv35fpsut', 'hdoamed34jkq7psut', '0', 'hdoamedlva28ppsut', 'hdoamedi59mslpsut', 'hdoamedn8p1a2psut', 'hdoamedjs34jkpsut', 'hdoameddbqfnrpsut', 'hdoamedbfdlw7psut', '140', 'hdoamedf4bfdlpsut', '113', 278, 'hdoamedkf4st8psut', '164', 'hdoamedya03ldpsut', 'hdoamedeof5o4psut', 'hdoamedixe96epsut', 'hdoameds278fvpsut', 'hdoamed9o5zx5psut', '7', 'hdoamedow89nopsut', 1.1, '1', 'hdoamedhzza35psut', 'hdoamedza35zgpsut', 'hdoamedvbyjtgpsut', '142', 'hdoamed4st8rvpsut', 'hdoamed27sb0cpsut', 'hdoamedhy94tgpsut', 'hdoamedfvscd0psut', '186', 'hdoamed3mamcfpsut', 'hdoamed4ing2zpsut', 'hdoamedcxmjbppsut', 'hdoamedgjt0eopsut', 'hdoamedz7akz0psut', 'hdoamed8hhsuwpsut', 'hdoamedkqqptipsut', '202', 'hdoamedny13xepsut', 'hdoameddi3ccnpsut', 'hdoamed9msl63psut', 'hdoamedu4ll4apsut', 'hdoamed2p36c5psut', 'hdoamed1bya03psut', 'hdoamedvt9o5zpsut', '158', 'hdoamedqzhh06psut', 'hdoamedqabycgpsut', 'hdoamedz87ilnpsut', 'hdoamed6d11sspsut', '131', 0.7, 1.2, '187', '146', 'hdoamed4aj2g1psut', 3600, '88', 'hdoamed2hy2z7psut', 'hdoamedc5rxxwpsut', 'hdoamedadvmlgpsut', 'hdoamedm1kox4psut', 'hdoamed0e71aipsut', 'hdoamed0w86mbpsut', 'hdoamed4cfp45psut', '155', 'hdoameddc3udspsut', 'hdoamed7b8gs2psut', '118', 'hdoamed1jrn0xpsut', 'hdoamedbiezanpsut', 'hdoamed42qzhhpsut', '127', 'hdoamedhodc3upsut', 'hdoamednivt9opsut', 'hdoamedq9n8p1psut', 'hdoamedt8rv42psut', 0.2, 4.4, '132', '112', 'hdoamed9419lvpsut', '137', 'hdoamedt87reqpsut', '160', 'hdoamedbz7b8gpsut', 'hdoamedwz96u4psut', '190', 'hdoamedtgiwgjpsut', 'hdoamedo43mampsut', '90', '179', '145', 'hdoamedyu6vbzpsut', 'hdoamedcv2ybzpsut', '116', 'hdoamed0mk80epsut', 'hdoamed4kpufopsut', 'hdoamedv93w6dpsut', '3', 'hdoamedrxxw0gpsut', '194', 'hdoamed14ebz9psut', 'hdoamed9wycwzpsut', 'hdoamed05hzzapsut', 'hdoamed7ilnhypsut', 'hdoamedg3v93wpsut', 'hdoamedhh06eypsut', 'hdoamedx4jsjapsut', 'hdoamednrow89psut', 'hdoamedr8id2qpsut', '143', 'hdoamed73g4k9psut', 'hdoamedgkiq1cpsut', 'hdoamedds9419psut', 'hdoamed1ea3pvpsut', 'hdoamed6dau5ipsut', 'hdoamedxlm1kopsut', '106', 'hdoamedmthh8zpsut', '124', 'hdoamedhh8zhxpsut', 'hdoamedqptidipsut', 'hdoamedb887b0psut', 'hdoamedb05al4psut', '159', 'hdoamedg12p36psut', 'hdoameduerdu6psut', '105', 'hdoamed5p0dr5psut', 'hdoamedu6e640psut', '148', '167', 'hdoamed7t7bg9psut', 'hdoamedf5o43mpsut', 'hdoamedqfnrowpsut', '128', 'hdoamedm2ak8kpsut', 'hdoamedwhg3v9psut', 'hdoamed5ykqqppsut', '153', 'hdoamedegascxpsut', 'hdoamedyjtgkypsut', 'hdoamedjlfwh2psut', 'hdoamedldb7kipsut', '181'}

In [ ]:
mlist = df['ID'].unique()
len(mlist)
#7 duplicates

303

In [ ]:
tlist = df.duplicated()
sum(tlist == True)

7

In [ ]:
df.loc[~df['thalack'].str.isdigit(), 'thalack'].tolist()

['1,71', '1,42']

In [ ]:
df.loc[~df['ca'].str.isdigit(), 'ca'].tolist()

['?', '?', '?', '?']

In [ ]:
df.loc[~df['thal'].str.isdigit(), 'thal'].tolist()

['?', '?']

In [ ]:
print(sum(df['restecg'] == 0))
print(sum(df['restecg'] == 1))
print(sum(df['restecg'] == 2))

156
4
150

In [ ]:
df['fbs'].unique()

array([1, 0])

In [ ]:
df['ca'].unique()

array(['0', '3', '2', '1', '?'], dtype=object)

In [ ]:
df['thal'].unique()

array(['6', '3', '7', '?'], dtype=object)

In [ ]:
df['outcome'].unique()
#shouldnt this be binary?

array([0, 2, 1, 3, 4])

In [ ]:
df['cp'].unique()
print(sum(df['cp'] == 1))
print(sum(df['cp'] == 2))
print(sum(df['cp'] == 3))
print(sum(df['cp'] == 4))

23
51
89
147

In [ ]:
df['restbps'].unique()

array([145, 160, 120, 130, 140, 172, 150, 110, 132, 117, 135, 112, 105,
       124, 125, 142, 128, 170, 155, 104, 180, 138, 108, 134, 122, 115,
       118, 100, 200,  94, 165, 102, 152, 101, 126, 174, 148, 178, 158,
       192, 129, 144, 123, 136, 146, 106, 156, 154, 114, 164])

In [ ]:
print(df['chol'].min())
print(df['chol'].median())
print(df['chol'].max())
#mistake here

126
241.5
3600

In [ ]:
for col in df:
  print("MAX:")
  print(df[col].max())
  print("MIN:")
  print(df[col].min())
  print("------")

MAX:
hdoamedzy1rw1psut
MIN:
hdoamed03ldb7psut
------
MAX:
77.0
MIN:
5.7
------
MAX:
1
MIN:
0
------
MAX:
4
MIN:
1
------
MAX:
200
MIN:
94
------
MAX:
3600
MIN:
126
------
MAX:
1
MIN:
0
------
MAX:
2
MIN:
0
------
MAX:
99
MIN:
1,42
------
MAX:
1
MIN:
0
------
MAX:
34.0
MIN:
0.0
------
MAX:
3
MIN:
1
------
MAX:
?
MIN:
0
------
MAX:
?
MIN:
3
------
MAX:
4
MIN:
0
------

In [ ]:
df

                    ID   age  sex  cp  restbps  ...  oldpeak  slope  ca thal  outcome
0    hdoamedhe7le8psut  63.0    1   1      145  ...      2.3      3   0    6        0
1    hdoamedhodc3upsut  67.0    1   4      160  ...      1.5      2   3    3        2
2    hdoamedds1byapsut  67.0    1   4      120  ...      2.6      2   2    7        1
3    hdoamed03ldb7psut  37.0    1   3      130  ...      3.5      3   0    3        0
4    hdoamedkixctypsut  41.0    0   2      130  ...      1.4      1   0    3        0
..                 ...   ...  ...  ..      ...  ...      ...    ...  ..  ...      ...
305  hdoamed4f8a4lpsut  57.0    1   2      124  ...      0.3      1   0    7        1
306  hdoamed5qpd5jpsut  44.0    0   3      118  ...      0.3      2   1    3        0
307  hdoamedimjs34psut  51.0    1   3      100  ...      1.2      2   0    3        0
308  hdoamedjkq7uepsut  55.0    1   4      140  ...      5.6      3   0    7        3
309  hdoamedkqqptipsut  43.0    1   3      130  ...      1.9      1   1    3        0

[310 rows x 15 columns]

In [ ]:
# df = df.replace("?", 'NaN' , regex=True)
# WE NEED TO CHANGE AGE TO INT
# we need to remove the question marks and the commas in some number 
# drop duplicates
# find if something is wrong with restecg