In [5]:
library(tidyverse)
install.packages("EnvStats")
library("EnvStats")

Installing package into ‘/srv/rlibs’
(as ‘lib’ is unspecified)

also installing the dependency ‘nortest’



Attaching package: ‘EnvStats’


The following objects are masked from ‘package:stats’:

    predict, predict.lm


The following object is masked from ‘package:base’:

    print.default

In [3]:
df <- read_csv("Heart Diseases.csv")

Parsed with column specification:
cols(
  ID = col_character(),
  age = col_double(),
  sex = col_double(),
  cp = col_double(),
  restbps = col_double(),
  chol = col_double(),
  fbs = col_double(),
  restecg = col_double(),
  thalack = col_number(),
  exang = col_double(),
  oldpeak = col_double(),
  slope = col_double(),
  ca = col_character(),
  thal = col_character(),
  outcome = col_double()
)

In [9]:
test <- rosnerTest(df$age,k = 1) # Number of suspected outliers is 3
test                                # Default alpha = 0.05

test$all.stats

Results of Outlier Test
-------------------------

Test Method:                     Rosner's Test for Outliers

Hypothesized Distribution:       Normal

Data:                            df$age

Sample Size:                     310

Test Statistic:                  R.1 = 5.160707

Test Statistic Parameter:        k = 1

Alternative Hypothesis:          Up to 1 observations are not
                                 from the same Distribution.

Type I Error:                    5%

Number of Outliers Detected:     1

  i   Mean.i    SD.i Value Obs.Num    R.i+1 lambda.i+1 Outlier
1 0 54.22484 9.40275   5.7     251 5.160707   3.732797    TRUE

  i Mean.i   SD.i    Value Obs.Num R.i+1    lambda.i+1 Outlier
1 0 54.22484 9.40275 5.7   251     5.160707 3.732797   TRUE

In [10]:
test <- rosnerTest(df$restbps,k = 6) # Number of suspected outliers is 3
test                                # Default alpha = 0.05

test$all.stats

Results of Outlier Test
-------------------------

Test Method:                     Rosner's Test for Outliers

Hypothesized Distribution:       Normal

Data:                            df$restbps

Sample Size:                     310

Test Statistics:                 R.1 = 3.896870
                                 R.2 = 3.536394
                                 R.3 = 2.902962
                                 R.4 = 2.948555
                                 R.5 = 2.996367
                                 R.6 = 2.922986

Test Statistic Parameter:        k = 6

Alternative Hypothesis:          Up to 6 observations are not
                                 from the same Distribution.

Type I Error:                    5%

Number of Outliers Detected:     1

  i   Mean.i     SD.i Value Obs.Num    R.i+1 lambda.i+1 Outlier
1 0 131.6000 17.55255   200     127 3.896870   3.732797    TRUE
2 1 131.3786 17.14214   192     189 3.536394   3.731888   FALSE
3 2 131.1818 16.81668   180      84 2.902962   3.730976   FALSE
4 3 131.0228 16.61058   180     202 2.948555   3.730060   FALSE
5 4 130.8627 16.39894   180     232 2.996367   3.729141   FALSE
6 5 130.7016 16.18152   178     184 2.922986   3.728219   FALSE

  i Mean.i   SD.i     Value Obs.Num R.i+1    lambda.i+1 Outlier
1 0 131.6000 17.55255 200   127     3.896870 3.732797    TRUE
2 1 131.3786 17.14214 192   189     3.536394 3.731888   FALSE
3 2 131.1818 16.81668 180    84     2.902962 3.730976   FALSE
4 3 131.0228 16.61058 180   202     2.948555 3.730060   FALSE
5 4 130.8627 16.39894 180   232     2.996367 3.729141   FALSE
6 5 130.7016 16.18152 178   184     2.922986 3.728219   FALSE

In [11]:
test <- rosnerTest(df$chol,k = 4) # Number of suspected outliers is 3
test                                # Default alpha = 0.05

test$all.stats

Results of Outlier Test
-------------------------

Test Method:                     Rosner's Test for Outliers

Hypothesized Distribution:       Normal

Data:                            df$chol

Sample Size:                     310

Test Statistics:                 R.1 = 16.950460
                                 R.2 =  6.207276
                                 R.3 =  3.582807
                                 R.4 =  3.496165

Test Statistic Parameter:        k = 4

Alternative Hypothesis:          Up to 4 observations are not
                                 from the same Distribution.

Type I Error:                    5%

Number of Outliers Detected:     2

  i   Mean.i      SD.i Value Obs.Num     R.i+1 lambda.i+1 Outlier
1 0 257.0548 197.21856  3600      76 16.950460   3.732797    TRUE
2 1 246.2362  51.19214   564     153  6.207276   3.731888    TRUE
3 2 245.2045  47.94996   417      49  3.582807   3.730976   FALSE
4 3 244.6450  47.01009   409     182  3.496165   3.730060   FALSE

  i Mean.i   SD.i      Value Obs.Num R.i+1     lambda.i+1 Outlier
1 0 257.0548 197.21856 3600   76     16.950460 3.732797    TRUE
2 1 246.2362  51.19214  564  153      6.207276 3.731888    TRUE
3 2 245.2045  47.94996  417   49      3.582807 3.730976   FALSE
4 3 244.6450  47.01009  409  182      3.496165 3.730060   FALSE

In [12]:
test <- rosnerTest(df$thalack,k = 1) # Number of suspected outliers is 3
test                                # Default alpha = 0.05

test$all.stats

Results of Outlier Test
-------------------------

Test Method:                     Rosner's Test for Outliers

Hypothesized Distribution:       Normal

Data:                            df$thalack

Sample Size:                     310

Test Statistic:                  R.1 = 3.423899

Test Statistic Parameter:        k = 1

Alternative Hypothesis:          Up to 1 observations are not
                                 from the same Distribution.

Type I Error:                    5%

Number of Outliers Detected:     0

  i   Mean.i     SD.i Value Obs.Num    R.i+1 lambda.i+1 Outlier
1 0 149.3516 22.88374    71     246 3.423899   3.732797   FALSE

  i Mean.i   SD.i     Value Obs.Num R.i+1    lambda.i+1 Outlier
1 0 149.3516 22.88374 71    246     3.423899 3.732797   FALSE

In [13]:
test <- rosnerTest(df$oldpeak,k = 5) # Number of suspected outliers is 3
test                                # Default alpha = 0.05

test$all.stats

Results of Outlier Test
-------------------------

Test Method:                     Rosner's Test for Outliers

Hypothesized Distribution:       Normal

Data:                            df$oldpeak

Sample Size:                     310

Test Statistics:                 R.1 = 14.857380
                                 R.2 =  4.367117
                                 R.3 =  3.991825
                                 R.4 =  4.106653
                                 R.5 =  3.126272

Test Statistic Parameter:        k = 5

Alternative Hypothesis:          Up to 5 observations are not
                                 from the same Distribution.

Type I Error:                    5%

Number of Outliers Detected:     4

  i   Mean.i     SD.i Value Obs.Num     R.i+1 lambda.i+1 Outlier
1 0 1.160000 2.210349  34.0     300 14.857380   3.732797    TRUE
2 1 1.053722 1.178415   6.2      92  4.367117   3.731888    TRUE
3 2 1.037013 1.143083   5.6     124  3.991825   3.730976    TRUE
4 3 1.022150 1.114740   5.6     309  4.106653   3.730060    TRUE
5 4 1.007190 1.085258   4.4     286  3.126272   3.729141   FALSE

  i Mean.i   SD.i     Value Obs.Num R.i+1     lambda.i+1 Outlier
1 0 1.160000 2.210349 34.0  300     14.857380 3.732797    TRUE
2 1 1.053722 1.178415  6.2   92      4.367117 3.731888    TRUE
3 2 1.037013 1.143083  5.6  124      3.991825 3.730976    TRUE
4 3 1.022150 1.114740  5.6  309      4.106653 3.730060    TRUE
5 4 1.007190 1.085258  4.4  286      3.126272 3.729141   FALSE